@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.page {
    height: 100%;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #505050;
    background-color: #f8fafb;
}

.page__search-panel {
    grid-area: search-panel;
}

.page__sidebar {
    grid-area: sidebar;
}

.page__main {
    grid-area: main;
    height: 100%;
}

.page__container {
    min-height: 100%;
    padding: 105px 30px 20px 30px;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-rows: 88px 1fr;
    gap: 30px;
    grid-template-areas: 
    "sidebar search-panel"
    "sidebar main";
}

@media screen and (max-width: 1100px) {
    
    .page__container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 850px) {
    
    .page__container {
        grid-template-columns: 1fr;
        column-gap: 0;
        grid-template-areas:
        "search-panel"
        "main";
        row-gap: 20px;
    }
}

@media screen and (max-width: 660px) {
    .page__container {
        padding: 80px 0 10px;
        grid-template-rows: 123px 1fr;
    }
    
}