.sidebar {
    background-color: #fff;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    border-radius: 8px;
    
}

.sidebar__button-wrapper {
    padding: 24px;
    margin-bottom: 20px;
}

.sidebar__button {
    width: 100%;
    outline: none;
    background-color: #aa66cc;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    line-height: 14px;
    color: #fff;
    border: none;
    padding: 10px 15px;
    transition: 0.15s;
    height: 36px;
}

.sidebar__button:hover,
.sidebar__button:focus,
.sidebar__button:active {
    background-color: #9d60bb;
}
